[Unit]
Description=Metar Map Server

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/src/finack/twinkle/build/twinkle --config /home/pi/src/finack/twinkle/config.yaml --debug

[Install]
WantedBy=multi-user.target
